@media (max-width: 80rem) {
    body {
        .landing-page-container {
            padding: 3.5rem 1rem;
            justify-content: center;
        }

        div.default-img {
            display: none;
            img {
                display: none;
            }
        }

        .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
            width: 100%;
        }
    }
}