
//** background colors */ 
$primary-header-bg: #202938;




//** color */
$primary-white-cl: #ffff;
$secondary-white-cl: #B2B8BD;
$secondary-black-cl-1: #202938;
$secondary-black-cl-2: #161C23;


//** font size */ 

$font-xlg: 1.5rem; //24px
$font-lg: 1rem; // 16px
$font-md: 0.875rem; // 14px 
$font-sm: 0.75rem; // 12px


// ** Button color */

$default-bt-clr: #F46662;
$success-bt-clr: #34A853;


// ** Dropdown color */

$default-dropdwn-cls: #20262D;


//** Box shadow*/

$default-box-shadow:  rgba(0, 0, 0, 0.02);